<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true"
      throwExceptions="true"
      autoReload="true">

    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>

    <targets>
        <target name="AllLogTargetConsole"
                xsi:type="ColoredConsole"
                useDefaultRowHighlightingRules="true"
                stdErr="true"
                layout="${date}|${callsite}|${uppercase:${level}}|${replace:inner=${message}:searchFor=\\r\\n|\\s:replaceWith= :regex=true}|${replace:inner=${all-event-properties:exclude=Title,Details}:searchFor=,:replaceWith=:regex=true:whenEmpty=No properties}|${event-properties:Details:whenEmpty=No details}|TraceId=${aspnet-TraceIdentifier:whenEmpty=0}|${replace:inner=${exception:format=ToString}:searchFor=\\r\\n|\\s:replaceWith= :regex=true}" />

        <target name="AllLogTarget"
                xsi:type="File"
                fileName="${basedir}/App_Data/Logs/${date:format=yyyy-MM}/${date:format=yyyy-MM-dd}/all.txt"
                layout="${date}|${callsite}|${uppercase:${level}}|${replace:inner=${message}:searchFor=\\r\\n|\\s:replaceWith= :regex=true}|${replace:inner=${all-event-properties:exclude=Title,Details}:searchFor=,:replaceWith=:regex=true:whenEmpty=No properties}|${event-properties:Details:whenEmpty=No details}|TraceId=${aspnet-TraceIdentifier:whenEmpty=0}|${replace:inner=${exception:format=ToString}:searchFor=\\r\\n|\\s:replaceWith= :regex=true}" />

        <target name="ErrorLogTarget"
                xsi:type="File"
                fileName="${basedir}/App_Data/Logs/${date:format=yyyy-MM}/${date:format=yyyy-MM-dd}/error.txt"
                layout="${date}|${callsite}|${uppercase:${level}}|${message}|${all-event-properties:exclude=Title,Details:whenEmpty=No properties}|${event-properties:Details:whenEmpty=No details}|TraceId=${aspnet-TraceIdentifier:whenEmpty=0}|${exception:format=ToString}${newline}" />

        <target name="AppLogTarget"
                xsi:type="File"
                fileName="${basedir}/App_Data/Logs/${date:format=yyyy-MM}/${date:format=yyyy-MM-dd}/app.txt"
                layout="${date}|${callsite}|${uppercase:${level}}|${event-properties:Title:whenEmpty=No message}|${replace:inner=${all-event-properties:exclude=Title,Details}:searchFor=,:replaceWith=:regex=true:whenEmpty=No properties}|${event-properties:Details:whenEmpty=No details}|TraceId=${aspnet-TraceIdentifier:whenEmpty=0}|${replace:inner=${exception:format=ToString}:searchFor=\\r\\n|\\s:replaceWith= :regex=true}" />

        <target name="RequestsLogTarget"
                xsi:type="File"
                fileName="${basedir}/App_Data/Logs/${date:format=yyyy-MM}/${date:format=yyyy-MM-dd}/requests.txt"
                layout="${date}|${callsite}|${uppercase:${level}}|${replace:inner=${message}:searchFor=\\r\\n|\\s:replaceWith= :regex=true}|${replace:inner=${all-event-properties}:searchFor=,:replaceWith=:regex=true:whenEmpty=No properties}|No details|TraceId=${aspnet-TraceIdentifier:whenEmpty=0}|" />

        <target name="StartupLogTarget"
                xsi:type="File"
                fileName="${basedir}/App_Data/Logs/${date:format=yyyy-MM}/${date:format=yyyy-MM-dd}/startup.txt"
                layout="${date}|${callsite}|${uppercase:${level}}|${message}|${replace:inner=${all-event-properties}:searchFor=,:replaceWith=:regex=true:whenEmpty=No properties}|No details|TraceId=${aspnet-TraceIdentifier:whenEmpty=0}|${exception:format=tostring}" />

        <target name="SqlTarget" xsi:type="File"
                fileName="${basedir}/App_Data/Logs/${date:format=yyyy-MM}/${date:format=yyyy-MM-dd}/sql.txt"
                layout="${date}|${callsite}|${uppercase:${level}}|${replace:inner=${message}:searchFor=\\r\\n|\\s:replaceWith= :regex=true}|${replace:inner=${all-event-properties}:searchFor=,:replaceWith=:regex=true:whenEmpty=No properties}|No details|TraceId=${aspnet-TraceIdentifier:whenEmpty=0}|${replace:inner=${exception:format=ToString}:searchFor=\\r\\n|\\s:replaceWith= :regex=true}" />

        <target name="SystemLogTarget"
                xsi:type="File"
                fileName="${basedir}/App_Data/Logs/${date:format=yyyy-MM}/${date:format=yyyy-MM-dd}/system.txt"
                layout="${date}|${callsite}|${uppercase:${level}}|${replace:inner=${message}:searchFor=\\r\\n|\\s:replaceWith= :regex=true}|${replace:inner=${all-event-properties}:searchFor=,:replaceWith=:regex=true:whenEmpty=No properties}|No details|TraceId=${aspnet-TraceIdentifier:whenEmpty=0}|${replace:inner=${exception:format=ToString}:searchFor=\\r\\n|\\s:replaceWith= :regex=true}" />
    </targets>

    <rules>
        <logger name="*"
                minlevel="Error"
                writeTo="AllLogTarget, AllLogTargetConsole, ErrorLogTarget" />

        <logger name="EcommerceSandbox.WebMvc.Providers.StartupLoggerProvider*"
                minlevel="Debug"
                writeTo="AllLogTarget, AllLogTargetConsole, StartupLogTarget"
                final="true" />

        <logger name="EcommerceSandbox.*"
                minlevel="Debug"
                writeTo="AllLogTarget, AllLogTargetConsole, AppLogTarget"
                final="true" />

        <logger name="Microsoft.EntityFrameworkCore.*"
                minlevel="Info"
                writeTo="AllLogTarget, AllLogTargetConsole, SqlTarget" />

        <logger name="Microsoft.AspNetCore.HttpLogging.*"
                minlevel="Info"
                writeTo="AllLogTarget, AllLogTargetConsole, RequestsLogTarget">
        </logger>

        <logger name="*"
                minlevel="Warn"
                writeTo="AllLogTarget, AllLogTargetConsole, SystemLogTarget" />
    </rules>
</nlog>