<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true"
      throwExceptions="true"
      autoReload="true">

    <extensions>
        <!-- enable asp.net core layout renderers -->
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>

    <targets>
        <target name="AllLogTargetConsole" xsi:type="ColoredConsole"
                layout="${date}|${callsite}|${uppercase:${level}}|TraceId=${aspnet-TraceIdentifier}|${replace:inner=${message}:searchFor=\\r\\n|\\s:replaceWith= :regex=true}|${replace:inner=${exception:format=ToString}:searchFor=\\r\\n|\\s:replaceWith= :regex=true}"
                useDefaultRowHighlightingRules="true"
                stdErr="true" />

        <target name="AllLogTarget" xsi:type="File"
                fileName="${basedir}/App_Data/Logs/${date:format=yyyy-MM}/${date:format=yyyy-MM-dd}/all.txt"
                layout="${date}|${callsite}|${uppercase:${level}}|TraceId=${aspnet-TraceIdentifier}|${replace:inner=${message}:searchFor=\\r\\n|\\s:replaceWith= :regex=true}|${replace:inner=${exception:format=ToString}:searchFor=\\r\\n|\\s:replaceWith= :regex=true}" />

        <target name="ErrorLogTarget" xsi:type="File"
                fileName="${basedir}/App_Data/Logs/${date:format=yyyy-MM}/${date:format=yyyy-MM-dd}/error.txt"
                layout="${date}|${callsite}|${uppercase:${level}}|TraceId=${aspnet-TraceIdentifier}|${message}|${exception:format=ToString}${newline}" />

        <target name="AppLogTarget" xsi:type="File"
                fileName="${basedir}/App_Data/Logs/${date:format=yyyy-MM}/${date:format=yyyy-MM-dd}/app.txt"
                layout="${date}|${callsite}|${uppercase:${level}}|${event-properties:Title}.|${all-event-properties:exclude=Title,Details}|${event-properties:Details}|TraceId=${aspnet-TraceIdentifier:whenEmpty=null}|${replace:inner=${exception:format=ToString}:searchFor=\\r\\n|\\s:replaceWith= :regex=true}" />

        <target name="RequestsLogTarget" xsi:type="File"
                fileName="${basedir}/App_Data/Logs/${date:format=yyyy-MM}/${date:format=yyyy-MM-dd}/requests.txt"
                layout="${date}|${callsite}|${uppercase:${level}}|TraceId=${aspnet-TraceIdentifier}|${replace:inner=${message}:searchFor=\\r\\n|\\s:replaceWith= :regex=true}" />

        <target name="StartupLogTarget" xsi:type="File"
                fileName="${basedir}/App_Data/Logs/${date:format=yyyy-MM}/${date:format=yyyy-MM-dd}/startup.txt"
                layout="${date}|${uppercase:${level}}|${message}. ${exception:format=tostring}" />

        <target name="SqlTarget" xsi:type="File"
                fileName="${basedir}/App_Data/Logs/${date:format=yyyy-MM}/${date:format=yyyy-MM-dd}/sql.txt"
                layout="${date}|${uppercase:${level}}|${replace:inner=${message}:searchFor=\\r\\n|\\s:replaceWith= :regex=true}| ${replace:inner=${exception:format=ToString}:searchFor=\\r\\n|\\s:replaceWith= :regex=true}" />

        <target name="SystemLogTarget" xsi:type="File"
                fileName="${basedir}/App_Data/Logs/${date:format=yyyy-MM}/${date:format=yyyy-MM-dd}/system.txt"
                layout="${date}|${callsite}|${uppercase:${level}}|${replace:inner=${message}:searchFor=\\r\\n|\\s:replaceWith= :regex=true}|${replace:inner=${exception:format=ToString}:searchFor=\\r\\n|\\s:replaceWith= :regex=true}" />
    </targets>

    <rules>
        <logger name="*"
                minlevel="Error"
                writeTo="AllLogTarget, ErrorLogTarget" />

        <logger name="EcommerceSandbox.WebMvc.Providers.StartupLoggerProvider*"
                minlevel="Debug"
                writeTo="AllLogTarget, AllLogTargetConsole, StartupLogTarget"
                final="true" />

        <logger name="EcommerceSandbox.*"
                minlevel="Debug"
                writeTo="AllLogTarget, AllLogTargetConsole, AppLogTarget"
                final="true" />

        <logger name="Microsoft.EntityFrameworkCore.*"
                minlevel="Info"
                writeTo="AllLogTarget, AllLogTargetConsole, SqlTarget" />

        <logger name="Microsoft.AspNetCore.HttpLogging.*"
                minlevel="Info"
                writeTo="AllLogTarget, AllLogTargetConsole, RequestsLogTarget">
            <filters defaultAction="Log">
                <when condition="contains('${aspnet-Request-Url}','health')" action="Ignore" />
            </filters>
        </logger>

        <logger name="*"
                minlevel="Warn"
                writeTo="AllLogTarget, AllLogTargetConsole, SystemLogTarget" />
    </rules>
</nlog>